body {
  margin: 0;
  padding-bottom: 50px;
}

h1 {
  font-family: "Times New Roman";
  font-size: 32px;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 18px;
  font-family: "Arial";
  font-weight: 400;
  margin-top: 0;
}

p {
  font-family: "Arial";
  font-size: 16px;
}

.title {
  margin: 20px 0;
}

.logo {
  display: block;
  width: 90%;
  max-width: 800px;
}

.centered {
  position: relative;
  margin: auto;
  width: 93%;
}

.container {
  position: relative;
  min-height: 302px;
}

.one, .two, .three {
  position: absolute;
}

.slideOutLeft {
  animation: outLeft 0.3s ease-in forwards;
}

.slideInLeft {
  animation: inLeft 0.3s ease-in forwards;
}

.slideOutRight {
  animation: outRight 0.3s ease-in forwards;
}

.slideInRight {
  animation: inRight 0.3s ease-in forwards;
}

@keyframes outLeft {
  from {
    left: 0;
    opacity: 1;
    display: block;
  }
  to {
    left: -110%;
    opacity: 0;
    display: none;
  }
}

@keyframes outRight {
  from {
    left: 0;
    opacity: 1;
    display: block;
  }
  to {
    left: 110%;
    opacity: 0;
    display: none;
  }
}

@keyframes inLeft {
  from {
    right: 110%;
    opacity: 0;
    display: none;
  }
  to {
    right: 0;
    opacity: 1;
    display: block;
  }
}

@keyframes inRight {
  from {
    left: 110%;
    opacity: 0;
    display: none;
  }
  to {
    left: 0;
    opacity: 1;
    display: block;
  }
}

form {
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  padding: 5px;
  overflow: hidden;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 0;
  background-color: white;
}

input[type="checkbox"] {
  width: 13px;
  box-shadow: none;
}

textarea {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  border: none;
  overflow: hidden;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

::-webkit-input-placeholder {
  font-style: italic;
  color: #a0a0a0;
}

:-ms-input-placeholder {
  font-style: italic;
  color: #a0a0a0;
}

::placeholder {
  font-style: italic;
  color: #a0a0a0;
}

.buttonContainer {
  position: relative;
  width: 100%;
  height: 50px;
}

button {
  height: 35px;
  width: 80px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  background-color: white;
}

button:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.send {
  border-radius: 4px;
  width: calc(100% - 10px);
  box-shadow: none;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  margin-top: 7px;
  font-size: 14px;
}

button:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.prev {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.next {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
