body {
  margin: 0;
}

h1 {
  font-family: "Times New Roman";
  font-size: 32px;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 18px;
  font-family: "Arial";
  font-weight: 400;
  margin-top: 0;
}

p {
  font-family: "Arial";
  font-size: 16px;
}

.title {
  margin: 20px 0;
}

.logo {
  display: block;
  width: 90%;
  max-width: 800px;
}

.centered {
  position: relative;
  margin: auto;
  width: 93%;
}

form {
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

input[type=text], input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-style: none none solid none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  border: none;
  overflow: hidden;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
